$footer-testemonial: #686de0;
$page-colors: #c3cfe2;
$text-background: #fff;
$text-color: #595959;
$footer_coll: #9699e9;
$write-styles: Arial, Helvetica, sans-serif;
$random-color: #fff;
$random-color2: red;
$random-color_3: #3c97bf;
$backgrounds1: #e17b77;
$backgrounds2: #3b5998;
$backgrounds3: #00aced;
$backgrounds4: #333;
$backgrounds5: #007bb6;
$backgrounds6: #222;
$blog_str: "\f5fc";
$twitter_str: "\f099";
$linkedin_str: "\f0e1";
$facebook_str: "\f39e";
$github_str: "\f09b";
$fa_default_height: 1;
